
#middle {
  background-color: #222222;
  padding-bottom: 10vw;
  background-image: url(img/roses-01.png);
  background-size: cover;
}

#subBar {
  background-color: black;
}

#socialBar {
  background-color: black;

}

#topBar {

  text-align: center;

  background-color: black;

}

#subs {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 5vw;
}

#flower {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

#barHead {
  color: white;
  text-align: center;
  margin-top: 2vw;
  font-family: 'Bebas Neue', cursive;
}

#welcText  {
  font-family: 'Bebas Neue', cursive;
  color: white;
  padding-left: 5vw;
  padding-top: 5vw;
}

#heading {
  color: white;
  font-family: 'Bebas Neue', cursive;
  padding-left: 1vw;
}


img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

/* Main CSS */
.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper > div > div {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
	grid-auto-rows: 100px;
	grid-auto-flow: dense;
}
.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}

#gridCont {
  margin-left: 5vw;
  margin-right: -5vw;
  margin-bottom: 3vw;

  padding: 1vw;

  background-color: #0d0d0d;
}

#hello {
  color: white;
}

#subwrap {
  background-color: #0d0d0d;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

#subName {
  color: white;
  font-family: 'Bebas Neue', cursive;
  padding-bottom: 1vw;
}

#topgrid {
  padding-right: 2vw;
}

#topgrid img {
  background-: rgba(39,62,84,0.82);
}

#carousel {
  margin-bottom: 2vw;
  margin-right: 2vw;
}

#events {
  margin-right: 1vw;
}

#sub1 {
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 3vw;
  padding-bottom: 2vw;
  border-bottom: 2px solid #242424;
}

#album {

  padding-right: 2vw;
  margin-top: 3vw;
  margin-right: 1vw;
  padding-bottom: 2vw;
  border-bottom: 2px solid #242424;

}

#leftName {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;

}

#AlbName {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 15px;

}

#leftUp {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

#socialOps {
  margin-top: 4vw;
}

.option {
  color: white;
  padding-top: 1vw;
  border: 2px solid #242424;
  border-left-width: 0px;
  border-top-width: 2px;
  border-right-width: 0px;
  padding-left: 1vw;
  padding-bottom: 1vw;
  margin-top: -0.5vw;
  background-color: #0B0B0B;
}

#topfix {
  border-top-width: 1px;
}

#explore {
  color: white;
  padding-top: 2vw;
  font-family: 'Roboto', sans-serif;
}

#explore:hover {
   color: #dddddd;
   text-decoration: none;
}

a:default {
  color:white;
}

#menuOp {
  padding-top: 2vw;
}

#arrow {
  margin-top: 5vw;
}


#hiding1, #hiding2, #hiding3{
	visibility:hidden;
	height:0px;
  transition: 0.5s;
}

#headBar {
  background-image: url("https://s1.ticketm.net/dam/a/fe2/81454827-f023-49d3-8637-2d02e7e5efe2_1552571_TABLET_LANDSCAPE_LARGE_16_9.jpg");
  background-size: cover;
}

#headBarArt {
  background-image: url("http://art-vangogh.com/image/Arles%20(1888-1889)/34%20Landscape%20Under%20a%20Stormy%20Sky.jpg");
  background-size: cover;
  background-position: center;
}

#headBarProd {
  background-image: url("https://wallpapercave.com/wp/wp9226316.jpg");
  background-size: cover;
}

.mainSlide1 {
  background-image: url("https://www.digitalartsonline.co.uk/cmsdata/slideshow/3776245/beck_-_hyperspace.jpg");
  background-size: cover;
  background-position: center;
}

.mainSlide2 {
  background-image: url("https://images.squarespace-cdn.com/content/v1/53b6eb62e4b06e0feb2d8e86/1607362705516-R5Q22H4FVIVPNMW8OWD7/SamSpratt_KidCudi_ManOnTheMoon3_AlbumCover_Web.jpg?format=1500w");
  background-size: cover;
}


.mainSlide3 {
  background-image: url("https://media.npr.org/assets/img/2013/04/22/dark-side_sq-1da3a0a7b934f431c175c91396a1606b3adf5c83-s1100-c50.jpg");
  background-size: cover;
  background-position: center;
}


.mainSlide4 {
  background-image: url("https://images.macrumors.com/t/tA_RAlO-sKIrvULzR2aaVJ5Tyd4=/1920x/article-new/2019/02/MR-Future-Products-2020-2.png");
  background-size: cover;
}


.mainSlide5 {
  background-image: url("https://i1.adis.ws/i/canon/eos-m50-mark-ii-black-lifestyle-matt-adlard44-crop_f0f37e2c1acf4593a36fad78cf573d12?$hero-header-half-16by9-dt-jpg$");
  background-size: cover;
  background-position: center;
}


.mainSlide6 {
  background-image: url("https://i.pinimg.com/originals/3a/90/da/3a90da44ea6bdd3fbc190fd2a1dff2fe.jpg");
  background-size: cover;
}


.mainSlide7 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHpuW457RJXfaNK5cfMfPumI_aQVS3fGwbUA&usqp=CAU");
  background-size: cover;
}


.mainSlide8 {
  background-image: url("https://purewows3.imgix.net/images/articles/2021_04/art-shows-nyc_CAT.png?auto=format,compress&cs=strip");
  background-size: cover;
}

.mainSlide9 {
  background-image: url("https://www.kesslerlawfirm.com/wp-content/uploads/2021/02/podcastneonlogo.jpg");
  background-size: cover;
  background-position: center;
}

.mainSlide10 {
  background-image: url("https://theknow-old.denverpost.com/wp-content/uploads/2019/11/KJD-191111-0076-1080x720.jpg");
  background-size: cover;
}

.mainSlide11 {
  background-image: url("https://media.architecturaldigest.com/photos/5890e88033bd1de9129eab0a/1:1/w_870,h_870,c_limit/Artist-Designed%20Album%20Covers%202.jpg");
  background-size: cover;
}

.mainSlide12 {
  background-image: url("https://www.adweek.com/wp-content/uploads/files/2016_Nov/casey-Neistat-daily-vlog-hed-a-2016.png");
  background-size: cover;
}


.prodSlide1 {
  background-image: url("https://www.xda-developers.com/files/2021/07/5985617_sd-903x1024.jpg");
  background-size: cover;
  background-position: center;
}

.prodSlide2 {
  background-image: url("https://img.diverseeducation.com/files/base/diverse/all/image/2021/09/16x9/Apple_Device.613f9eecd8d41.png?auto=format%2Ccompress&fit=max&w=1280");
  background-size: cover;
}


.prodSlide3 {
  background-image: url("https://media-cldnry.s-nbcnews.com/image/upload/rockcms/2021-12/211208-apple-store-al-0737-4f4c31.jpg");
  background-size: cover;
  background-position: center;
}


.prodSlide4 {
  background-image: url("https://idsb.tmgrup.com.tr/ly/uploads/images/2021/12/08/165660.jpg");
  background-size: cover;
}


.prodSlide5 {
  background-image: url("https://api.time.com/wp-content/uploads/2014/09/apple-watch.jpg");
  background-size: cover;
  background-position: center;
}


.prodSlide6 {
  background-image: url("https://www.popsci.com/uploads/2021/04/20/airtags.jpg?auto=webp&width=1440&height=959.68169761273");
  background-size: cover;
}


.prodSlide7 {
  background-image: url("https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/HP8L2?wid=1144&hei=1144&fmt=jpeg&qlt=95&.v=1593730581000");
  background-size: cover;
  background-position: center;
}


.prodSlide8 {
  background-image: url("https://e3.365dm.com/21/04/2048x1152/skynews-apple-airtag_5350520.jpg");
  background-size: cover;
}

.prodSlide9 {
  background-image: url("https://cdn.vox-cdn.com/thumbor/KqbMWGnUsFojNKvDOesn1xIv_XE=/0x0:2524x1432/1200x800/filters:focal(1061x515:1463x917)/cdn.vox-cdn.com/uploads/chorus_image/image/66658764/Screen_Shot_2020_04_15_at_4.13.10_PM.0.png");
  background-size: cover;
  background-position: center;
}

.prodSlide10 {
  background-image: url("https://www.hellomagazine.com/imagenes/homes/20211126127124/best-black-friday-apple-deals/0-613-477/apple-main-t.jpg");
  background-size: cover;
}

.prodSlide11 {
  background-image: url("https://media.wired.com/photos/607f130d8b8cd2f789408f36/16:9/w_2399,h_1349,c_limit/Gear-apple_new-imac-spring21_hero_04202021.jpg");
  background-size: cover;
}

.prodSlide12 {
  background-image: url("https://images.macrumors.com/t/tA_RAlO-sKIrvULzR2aaVJ5Tyd4=/1920x/article-new/2019/02/MR-Future-Products-2020-2.png");
  background-size: cover;
}



.subSlide1 {
  background-image: url("https://media.architecturaldigest.com/photos/5a00df9a3043ef0ce17b8fe2/1:1/w_3152,h_3152,c_limit/32-2_vanGogh-OliveOrchard_front.jpg");
  background-size: cover;
  background-position: center;
}

.subSlide2 {
  background-image: url("https://www.paint.org/wp-content/uploads/2019/11/Van-Gogh-The-Starry-Night-adult-coloring-page-1.jpg");
  background-size: cover;
}


.subSlide3 {
  background-image: url("https://static01.nyt.com/images/2019/03/27/arts/26VANGOGH-BRITAIN-1/merlin_152403333_3552f80f-9675-4951-bc32-0b8cbdbfa090-superJumbo.jpg");
  background-size: cover;
  background-position: center;
}


.subSlide4 {
  background-image: url("https://thepaintsesh.com/wp-content/uploads/2018/12/DSC_0198-compressor.jpg");
  background-size: cover;
}


.subSlide5 {
  background-image: url("https://cdn.decoist.com/wp-content/uploads/2017/04/Art-studio-with-a-desk-in-the-center-of-the-room--870x520.jpeg");
  background-size: cover;
  background-position: center;
}


.subSlide6 {
  background-image: url("https://www.caldwell.edu/wp-content/uploads/2021/04/74331126_733566147107755_7179495313705533440_n.jpg");
  background-size: cover;
}


.subSlide7 {
  background-image: url("https://images.pexels.com/photos/1005711/pexels-photo-1005711.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}


.subSlide8 {
  background-image: url("img/red.png");
  background-size: cover;
}

.subSlide9 {
  background-image: url("https://images.pexels.com/photos/556669/pexels-photo-556669.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
}

.subSlide10 {
  background-image: url("https://images.pexels.com/photos/1053687/pexels-photo-1053687.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}

.subSlide11 {
  background-image: url("https://images.pexels.com/photos/4021521/pexels-photo-4021521.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}

.subSlide12 {
  background-image: url("https://images.pexels.com/photos/1172064/pexels-photo-1172064.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
}

.subSlide13 {
  background-image: url("https://images.pexels.com/photos/51548/pexels-photo-51548.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}



.artSlide1 {
  background-image: url("https://media.architecturaldigest.com/photos/5a00df9a3043ef0ce17b8fe2/1:1/w_3152,h_3152,c_limit/32-2_vanGogh-OliveOrchard_front.jpg");
  background-size: cover;
  background-position: center;
}

.artSlide2 {
  background-image: url("https://www.paint.org/wp-content/uploads/2019/11/Van-Gogh-The-Starry-Night-adult-coloring-page-1.jpg");
  background-size: cover;
}


.artSlide3 {
  background-image: url("https://static01.nyt.com/images/2019/03/27/arts/26VANGOGH-BRITAIN-1/merlin_152403333_3552f80f-9675-4951-bc32-0b8cbdbfa090-superJumbo.jpg");
  background-size: cover;
  background-position: center;
}


.artSlide4 {
  background-image: url("https://thepaintsesh.com/wp-content/uploads/2018/12/DSC_0198-compressor.jpg");
  background-size: cover;
}


.artSlide5 {
  background-image: url("https://cdn.decoist.com/wp-content/uploads/2017/04/Art-studio-with-a-desk-in-the-center-of-the-room--870x520.jpeg");
  background-size: cover;
  background-position: center;
}


.artSlide6 {
  background-image: url("https://www.caldwell.edu/wp-content/uploads/2021/04/74331126_733566147107755_7179495313705533440_n.jpg");
  background-size: cover;
}


.artSlide7 {
  background-image: url("https://images.pexels.com/photos/1005711/pexels-photo-1005711.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}


.artSlide8 {
  background-image: url("img/red.png");
  background-size: cover;
}

.artSlide9 {
  background-image: url("https://images.pexels.com/photos/556669/pexels-photo-556669.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
}

.artSlide10 {
  background-image: url("https://images.pexels.com/photos/1053687/pexels-photo-1053687.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}

.artSlide11 {
  background-image: url("https://images.pexels.com/photos/4021521/pexels-photo-4021521.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}

.artSlide12 {
  background-image: url("https://images.pexels.com/photos/1172064/pexels-photo-1172064.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
}

.artSlide13 {
  background-image: url("https://images.pexels.com/photos/51548/pexels-photo-51548.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}



.upSlide1 {
  background-image: url("https://images.pexels.com/photos/96380/pexels-photo-96380.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
}

.upSlide2 {
  background-image: url("https://images.pexels.com/photos/257904/pexels-photo-257904.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
}

.upSlide3 {
  background-image: url("https://media.vanityfair.com/photos/60788272d115d425b54e8570/master/w_2560%2Cc_limit/Greta-van-Fleet-Interview-Lede.jpg");
  background-size: cover;
  background-position: center;
}

.upSlide4 {
  background-image: url("https://media2.fdncms.com/metrotimes/imager/u/original/28474920/shutterstock_1447160489.jpg");
  background-size: cover;
}





#Headtext {
  margin-left: 3vw;
  color: white;
  padding-top: 2vw;
  font-family: 'Bebas Neue', cursive;
}

#Headtexter {
  margin-left: 3vw;
  color: white;
}

.bottomBar1 {
  background-color: rgba(255,215,0, 0.3);
  color: white;
  margin-top: 7vw;
}


.bottomBar2 {
  background-color: rgba(128,128,128, 0.6);
  color: white;
  margin-top: 7vw;
}


.bottomBar3 {
  background-color: rgba(205, 127, 50, 0.6);
  color: white;
  margin-top: 7vw;
}

#botText {
  margin-left: 3vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

#beat1 {
  background: linear-gradient(#e66465, #3f1785);
}

#beat2 {
  background: linear-gradient(#e66465, #edb602);
}

#beat3 {
  background: linear-gradient(#179138, #9198e5);
}

#beat4 {
  background: linear-gradient(#edb602, #9198e5);
}

#beat5 {
  background: linear-gradient(#3f1785, #179138);
}

#beat1, #beat2, #beat3, #beat4, #beat5 {
  margin-bottom: 3vw;
  width: 125px;
  height: 125px;
  margin-right: 1vw;
}

#allCols {
  margin-right: 2vw;
  margin-top: 3vw;
  padding-left: 4vw;
  padding-right: 2vw;
}

#musicPlayer {
  background-image: url("https://i.ytimg.com/vi/kLb5okKE4XI/maxresdefault.jpg");
  background-size: cover;
  background-position: right;
  padding-left: 1vw;
  padding-top: 1vw;
  padding-bottom: 8vw;
  color: white;
  font-family: 'Bebas Neue', cursive;
}

#exploreText {
  color: white;
  text-align: center;
  padding-top: 1vw;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
}

#full {
  padding: 5vw;
  padding-top: 15vw;
  padding-bottom: 10vw;
}

#full img {
  border-radius: 10px;

}

#productsR {
  padding-bottom: 3vw;
}

#artProducts {
  padding-left: 5vw;
  color: white;
  font-family: 'Bebas Neue', cursive;
  padding-top: 1vw;
}

#sub1 img {
  border-radius: 8px;
  width: 8vw;
}

#subPic:hover {
  margin-top: 0.5vw;
  transition: 0.5s;
}


.text {
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.text {
  color: white;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#box:hover .text {
  opacity: 1;
}

#friendly{
  color: white;
  padding-left: 1vw;
  padding-right: 2vw;
  padding-top: 1vw;
  transition: 0.5s
}

#carouselmusic {
  padding-top: 1vw;
}

#products {
  padding-bottom: 3vw;
}

#updates {
  color: white;
  font-family: 'Bebas Neue', cursive;
  padding-top: 2vw;

}

#play {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#filt1 {
  background-image: url("img/red.png");
  background-size: cover;
}

#filt2 {
  background-image: url("img/green.png");
  background-size: cover;
}

#filt3 {
  background-image: url("img/orange.png");
  background-size: cover;
}

#filt4 {
  background-image: url("img/blue.png");
  background-size: cover;
}

#filt1, #filt2, #filt3, #filt4 {
  margin-bottom: 3vw;
  width: 125px;
  height: 125px;
  margin-right: 1vw;
}

#artcarousel {
  padding-top: 1vw;
  margin-left: -1vw;
}

#eventsPic1 {
  background-image: url("https://i.ytimg.com/vi/boUs9zt1ZhA/maxresdefault.jpg");
  background-size: cover;
  background-color: black;

}



#eventsPic2 {
  background-image: url("https://th-thumbnailer.cdn-si-edu.com/GWxauDhOnh2nGYaZnvX9CP2cZgo=/fit-in/1600x0/filters:focal(2409x1653:2410x1654)/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/f3/fa/f3fa8097-4f45-4555-96de-a6cc736e6587/van_gogh_angle1_starry_night_300dpi.jpg");
  background-size: cover;
  background-position: center;
}

#eventsPic3 {
  background-image: url("https://ichef.bbci.co.uk/news/976/cpsprodpb/17DDC/production/_120565779_iphone13colours.png");
  background-size: cover;
}

#eventname {
  padding-top: 1vw;
  padding-bottom: 1vw;
  color: white;
  padding-left: 1vw;
  font-family: 'Bebas Neue', cursive;
}

.over:hover{
  background-color: rgba(0, 0, 0, 0.4);
  transition: .5s ease;
}


.overB:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: .5s ease;
  padding-bottom: 16vw;
  border-radius: 10px;
}

.overB {
  padding-bottom: 16vw;
  border-radius: 10px;
}

.overP:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: .5s ease;
  border-radius: 10px;
}

.overP {
  border-radius: 10px;
  padding-bottom: 12vw;
}

.artBack {
  background-image: url("https://ae01.alicdn.com/kf/HTB10COiRFXXXXb7XFXXq6xXFXXXy/DANKEYISI-Van-Gogh-Oil-Painting-Real-Silk-Scarf-Square-90-90cm-Big-Fashion-Women-Scarf-Luxury.jpg");
  background-size: cover;
  border-radius: 10px;
}

.prodBack {
  background-image: url("https://ae01.alicdn.com/kf/H129e256552dc4c6898d3a9b5c78d86e7F/Luxury-Plating-Square-Edge-Clear-Case-For-iPhone-11-Pro-Max-11Pro-XS-X-XR-7.jpg_Q90.jpg_.webp");
  background-size: cover;
  border-radius: 10px;
}

.prodBack1 {
  background-image: url("https://ae01.alicdn.com/kf/H129e256552dc4c6898d3a9b5c78d86e7F/Luxury-Plating-Square-Edge-Clear-Case-For-iPhone-11-Pro-Max-11Pro-XS-X-XR-7.jpg_Q90.jpg_.webp");
  background-size: cover;
  border-radius: 10px;
}

.prodBack2 {
  background-image: url("https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/ipad-mini-select-202109_FMT_WHH?wid=2000&hei=2000&fmt=jpeg&qlt=80&.v=1631751019000");
  background-size: cover;
  border-radius: 10px;
}

.prodBack3 {
  background-image: url("https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/FWVE2?wid=2000&hei=2000&fmt=jpeg&qlt=95&.v=1580325926892");
  background-size: cover;
  border-radius: 10px;
}

.prodBack4 {
  background-image: url("https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/refurb-2019-imac-27-gallery?wid=1144&hei=1144&fmt=jpeg&qlt=80&.v=1559961087002");
  background-size: cover;
  border-radius: 10px;
}


.musicBack {
  background-image: url("https://awesometotallyawesome.com/wp-content/uploads/181112-ATA-greta-van-fleet-lover-leaver.jpg");
  background-size: cover;
  border-radius: 10px;

}

#hider {
  visibility: hidden;
}

#eventsPic1, #eventsPic2, #eventsPic3 {
  height: 0px;
  transition: 0.5s;
}

#eventname {
  opacity: 0;
  transition: 0.5s;
}

.Mainover:hover{
  background-color: rgba(0, 0, 0, 0.4);
  transition: .5s ease;
}

.Mainover:hover > p {
  opacity: 1;
  transition: 0.5s;
}

.Mainover {
  padding-bottom: 10vw;
  text-align: center;
}

.mainSlideText {
  color: white;
  opacity: 0;
  padding-top: 10px;
}

.mainSlideText:hover {
  color: white;
  opacity: 1;
  transition: 0.5s;

}

#playBut {
  margin-bottom: -8vw;
  margin-left: 0vw;
}

#space {
  visibility: hidden;
}

#prodName {
  margin-left: 4vw;
  margin-top: 2vw;
  margin-bottom: 1vw;
  color: white;
  font-family: 'Bebas Neue', cursive;
}

#socialName {
  font-weight: bold;
}

#download {
  margin-top: 4vw;
}
